body {

}

.container-narrow {
  margin: 0 auto;
  max-width: 600px;
}

.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  margin-top: 20%;
  text-align: center;
  background: #fff;
}

.jumbotron > h2 {
  font-size: 5em;
}
