body {
	background-color: rgba(0,0,0,0.07);
}

.container-narrow {
  margin: 0 auto;
  max-width: 600px;
}

.container-narrow > hr {
  margin: 30px 0;
}


.jumbotron {
	position: relative;
	text-align: center;
	padding: 5px 0 5px 0;
	background-color: #fff;
	box-shadow: 0 1px rgba(0,0,0,0.07);
}

.jumbotron > h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}
